@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$background-main: #f3f2f2;
$background-section:#296090;
$tech:#66aeee;
$fontFamily: 'Raleway', sans-serif;
$logo: #0a1c47;
$sidebar: #132F70;
$text: #f2f2f2;

