@import "variables";
@import "mixins";

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    width: 100vw;
    height: 100vh;
    background-color: $sidebar;
    align-items: center;
    display: none;
    justify-content: center;

    nav {
        align-items: center;
        display: flex;
        justify-content: center;

        ul {
            list-style-type: none;

            li {
                padding: 20px;
                a {
                    text-decoration: none;
                    font-size: 2rem;
                    font-weight: 700;
                    color: $text;
                }
            }
        }
    }
}

body {
    background-color: $background-main;

    aside:hover {
        width: 230px;

        .nav-item-name {
            display: inline-block;
        }
    }
}

aside {
    align-items: baseline;
    background-color: $sidebar;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: baseline;
    position: fixed;
    transition: all 0.8s;
    width: 110px;

    @media screen and (max-width: 768px) {
        left: -330px;
    }

    #logo {
        background-color: $logo;
        color: $text;
        font-family: $fontFamily;
        font-size: 3rem;
        font-weight: 700;
        padding: 30px 0;
        text-align: center;
        width: 100%;
    }

    nav {
        @include center;
        height: 100%;
        padding: 0 24px;

        .nav-bar {
            list-style-type: none;
            padding: 50px 0;
            vertical-align: baseline;

            li {
                vertical-align: baseline;
                position: relative;
                transition: all 0.5s;
                border-radius: 10px;

                a {
                    padding: 13px 17px;
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 1.3rem;
                    -webkit-transition-duration: 0.25s;
                    transition-duration: 0.25s;
                    border-radius: 6px;
                    width: 100%;
                    position: relative;
                }

                i {
                    color: white;
                }

                span {
                    position: absolute;
                    left: 55px;
                    top: 12px;
                    color: $text;
                    display: none;
                    font-family: $fontFamily;
                    font-weight: 700;
                    margin-left: 10px;
                }
            }
        }
    }
}

.outer-wrapper {
    width: calc(100% - 110px);
    margin-left: 110px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        margin-left: 0;
        width: 100%;
    }
}

.inner-wrapper {
    padding: 0 33px;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    height: 100vh;
    width: 100%;
    @include center;
    flex-direction: column;
    font-family: $fontFamily;
    clear: left;

    @media screen and(max-width: 768px) {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .salute {
        font-size: 1.5rem;
        font-weight: 700;
    }

    h1 {
        font-size: 5rem;

        .lastname {
            color: #296090;
        }
    }

    .intro {
        font-size: 1.5rem;
    }
}

.resume-social {
    margin-top: 40px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-around;

        @media screen and(max-width: 768px) {
            width: 100%;
        }

        .social {
            background-color: $background-main;
            border-radius: 5px;
            position: relative;
            box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
            padding: 5px;

            img {
                @include centerImg;
                height: 2rem;
                width: 100%;
            }
        }

        .resume {
            background-color: $sidebar;
            color: $background-main;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
            padding: 15px 45px;
        }
    }
}

main {
    @include center;
    flex-direction: column;
    font-family: $fontFamily;
}

section {
    padding: 30px;
    margin-bottom: 12rem;

    @media screen and (max-width: 768px) {
        padding: 0;
        margin-bottom: 3rem;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .section-paragraph {
        background-color: $background-section;
        border-radius: 25px;
        color: $text;
        font-size: 1.4rem;
        margin-top: 20px;
        padding: 20px;
    }
}

.section-skills {
    background-color: $background-section;
    border-radius: 10px;
    border-radius: 25px;

    .skills-list {
        list-style-type: none;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        margin-top: 20px;
    }

    .skill {
        background-color: $background-main;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        width: 100px;

        .skill-icon {
            @include centerImg;
        }

        .skill-name {
            text-align: center;
            font-family: $fontFamily;
            color: #000;
            font-weight: 700;
            font-size: 0.8rem;
        }
    }

    .skill:hover {
        box-shadow: 0px 2px 10px 7px rgba(0, 0, 0, 0.5);
    }
}

.section-portfolio{
    background-color: $background-section;
    border-radius: 10px;
    margin-bottom: 9rem;
    border-radius: 25px;

    .project{
        display: flex;
        padding: 30px;
        margin-top: 20px;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            margin-bottom: 2rem;
        }


        .project-img{

            img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
        }

        .project-info{
            color: $text;
            padding: 0 25px;
            text-align: center;

            .project-title{
                
                font-size: 2.5rem;
            }

            .technologies{
                font-size: 1.3rem;
                font-weight: 600;
                margin-bottom: 1rem;

                .tech{
                    color: $tech;
                }
            }

            ul{
                margin-left: 1rem;
            }

            .project-links{
               align-items: center;
               display: flex;
               justify-content: space-evenly;
               margin-top: 20px;

               a{
                color: $tech;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 700;
               }
            }
        }
    }
    
}